@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to cat fact getter!</h1>
    <br/>
    <form>
        <label>Filepath</label>
        <input name="path" value="@Model.Path"/> 
        <button type="submit" asp-action="GetFact" >Call API</button>
    </form>
    <br/>
    <h3>@Model.Message</h3>
    
</div>