@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to cat fact getter!</h1>
    <br/>
    <form>
        <label>Filepath</label>
        <input/>
        <button type="submit">Call API</button>
    </form>
    
</div>